@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
    margin:0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

html{
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color:#333;
}

h1{
font-size: 40px;
font-weight: 700;
margin-bottom: 15px;
}

p {
 font-size: 15px;
 line-height: 1.5;
 font-weight: 300;
 margin-bottom: 20px;
}
img {
    width: 100%;
}

button {
border:1px solid #7b77f2;
border-radius: 25px;
padding:5px 15px;
background-color: white;
color:#7b77f2;
cursor: pointer;
}

.container {
    min-width: 1200px;
    padding: 10px 20px;
}
/*header*/

header {
    display: flex;
    justify-content: space-around;
    margin-bottom: 140px;
    padding: 15px 20px;
    border-bottom: 1px solid #cbd1cd;
}

.logo {
font-weight: 700;
font-size: 20px;
color:#484a49;
margin-right: 100px;
}

.navbar {
display: block;
}

.nav-list{
    margin-right: 20px;
    font-size: 15px;
    font-weight: 400;
}

/*home*/

.hme {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
    gap:20px;
    
}
.hme-image {
    width: 30vw;
    animation-name: slideRight;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    
}

.hme-desc {
    width:50%;
    animation-name: slide;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    
}

/*.hme-desc p {
    width: 75%;
} */

.hme .btn {
    background-color:#7b77f2;
    color:white;
    margin-right: 20px;
}

.hme .btn {
    padding: 10px 15px;
}

/*serivces*/
.value {
width:90%;
position: relative;
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 250px;
gap:20px;
}

.value-desc {
    margin:5px auto;
    animation-name: slide;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0.8s;
    
}

.value-img {
    animation-name: slide;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    
}

.value-desc p {
    margin-bottom: 20px;
    
}
.value .btn  {
    background-color:#7b77f2 ;
    color:white;
}

/*pricing*/
.price {
display: flex;
justify-content: center;
gap:20px;    
align-items: center;
margin-bottom: 200px;

}

.price-desc {
    width:40vw;
animation-name: slide;
animation-duration: 1.2s;
animation-timing-function: ease-in;
animation-delay: 0.5s;
}
.price-img {
width:30vw;
animation-name: slideRight;
animation-duration: 1.2s;
animation-timing-function: ease-in;
animation-delay: 0.5s;
}

.price .btn {
background-color:#7b77f2 ;
color:white;
}

/*support*/

.support {
    display: flex;
    justify-content:center;
    align-items: center;
    gap:20px;
    margin-bottom: 200px;
}

.support-desc {
    width:50%;
    animation-name: pop;
animation-duration: 2s;
animation-timing-function: ease-in;
animation-delay: 0.5s;
}

.support-img {
    width:30vw;
    animation-name: pop;
animation-duration: 2s;
animation-timing-function: ease-in;
animation-delay: 0.5s;
}
.support .btn {
    background-color:#7b77f2 ;
    color:white;
}

/*contact*/

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    margin-top: 200px;
    margin-bottom: 100px;
}

.contact-desc{
    width:40%;
    animation-name: slide;
animation-duration: 1.2s;
animation-timing-function: ease-in;
animation-delay: 0.5s;
    
}

.contact-img {
    width:30vw;
   animation-name: slideRight;
animation-duration: 1.2s;
animation-timing-function: ease-in;
animation-delay: 0.5s;
}

.contact .btn {
    background-color:#7b77f2 ;
    color:white;
}


/*arrow*/
.scroll {
    position: fixed;
    bottom: 3.1rem;
    right: 2.1rem;
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6C63FF;
    color:#fff;
    border-radius: 0.2rem;
    font-size: 15px;
    opacity: 1;
    cursor: pointer;
    transition: all 0.4s ease;
}

/*footer*/

footer {
    text-align: center;
    padding: 8px 4px;
    font-size: 14px;
    border-top: 1px solid #cbd1cd;
}

footer span {
    color:#7b77f2;
}

@keyframes slide {
    0% {
    transform: translateX(-30px);
    opacity:0;
    }

    100% {
        transform: translateX(10px);
        opacity:1;

    }
}

@keyframes slideRight {
    0% {
        transform: translateX(60px);
        opacity:0;
        }
    
        100% {
        transform: translateX(10px);
        opacity:1;
        }
}

@keyframes pop {
    0% {
        opacity:0;
        transform:  scale(0);
        }
    
        100% {
        opacity:1;
        transform: scale(1)
        }
}
@media (max-width:700px) {
    header {
    border-bottom: 1px solid #cbd1cd;
    }

    .logo {
        display: block;
        font-size: 40px;
    }

    .navbar {
        display: none;
    }

    .hme {
        flex-direction:column;
        justify-content: center;
        margin:0;
        padding:0;
    }

    .hme-image {
        width: 40%;
    }

}